# python 1/22

file1:

#!/usr/bin/python3
print("Hello World!")

>>> python3 file1

---> Hello World!

---------------------

>>>print("Hello World!")

---> Hello World!


chmod u+x file1      (make the file1 to executable file)

>>> import file1     (import the file and run)

In [1]:
#!/usr/bin/python3
print("Hello World!")## without ""

title = "The Meaning of life"   
title                ## with ""

Hello World!

'The Meaning of life'

myfile.py:

title = "The Meaning of life"

>>>import myfile
>>>myfile.title 
---> "The Meaning of life"     with""

>>>print(myfile.title)
---> The Meaning of life       without""

from myfile import title     (import part of the file )

# threenames.py:
  a = 'dead'
  b = 'parrot'
  c = 'sketch'
  print(a,b,c)
  
  --------------
 import threenames
 dead parrot sketch
 >>> threename.b, threename.c
 
 ('parrot','sketch')

# list
 list1 = ['abc','def','ghi']
 tuple1 = ('abc','def','ghi')
 list1[1].upper()v
 tuple1[1].upper()x

In [2]:
 list1 = ['abc','def','ghi']
 tuple1 = ('abc','def','ghi')
print(list1[1].upper())
print(tuple1[2].upper())

DEF
GHI

In [3]:
s = 'Spam'
s[0]
s[0] = 's'
##string is an object cant be modified

TypeError: 'str' object does not support item assignment

In [ ]:
list1

In [ ]:
list2=list1  # its a link not a copy only
list2

In [ ]:
list1.append('xyz')
list1

In [ ]:
#numbers1 = [1,2,3,.....,100]
number1 = list(range(1,101)) ##not include 101
number2 = number1[9:19]
number2
##[a:b] include a but not include b a.....b-1
##a and b are indexes
##[a:] [a:b] [:b]
## copy: list2 = list1[:]   copy

In [ ]:
myFoods = ['pizza','feelafed','carrod']
friendFoods = myFoods[:] ##friendFoods is a diff list now   copy from myFoods
myFoods.append('chocolate')
friendFoods.append('ice cream')
print(myFoods)
print(friendFoods)

In [ ]:
players = ['charters','martina','Micheale','florence','eli']
players[1:4]

In [ ]:
players[:4]

In [ ]:
players[2:]

In [ ]:
for player in players[:3]:   ##a new line is set between each item by default or put an augment to change
    print(player.title())

In [ ]:
squares = []

for value in range(1,11):
    square = value**2
    squares.append(square)
print(squares)

In [ ]:
squares = []
squares = [value**2 for value in range(1,11)] ## create a loop and append the value into the list
squares

In [ ]:
nums = list(range(2,11,3))
nums

In [ ]:
l = [value**2 for value in range(1,11)]
l

In [ ]:
l2 = l[2:5]
l2

In [ ]:
L = [123,'spam',1.23]
print("length of L is:"+str(len(L)))
print(L[:-1])
print(L+[4,5,6])
print(L)

In [ ]:
M = [[1,2,3],[4,5,6],[7,8,9]]
M

In [ ]:
list(row[1] for row in M)  ##go through each row and get the second element

In [ ]:
list(row[2] for row in M if row[2]%2==0)

In [ ]:
list(M[row][row] for row in [0,1,2])

In [ ]:
[c*2 for c in "space"]

In [ ]:
list(range(-6,7,2))

In [ ]:
[[x**2,x**3] for x in range(4)]

In [ ]:
M = [[1,2,3],
     [4,5,6],
     [7,8,9]]
M
#comment
"""
   This is the start of the string
   This is the second line of the string
   end.
"""

## 1/29

In [ ]:
age = 12
if age<4:
    print("Admission cost is $0")
elif age < 18:
    print("Admission cost is $5")
else :
    print("Admission cost is $10")

In [ ]:
toppings = ['mushrooms','onions','pineapple'] #python knows its a list
print('mushrooms' in toppings)#check element is in the list or not

In [ ]:
users=['andrew','carolina','david']
user = 'marie'

if user not in users:
    print(str(user)+' is not in the users')
else:
    print(str(user)+' is in the users')

In [ ]:
answer = 17
if answer != 42:
    print('not the answer')
age_0=22
age_1=18
print(age_0>=21 and age_1>=21)

In [ ]:
#dictionary 
# for each item there are a key and a value
#key:value 
alien_0={'color':'green','points':5}
print(alien_0)
print(alien_0['color'])

alien_0={}#empty dictionary
alien_0['color']='green'
print(alien_0)
alien_0['points']=5
print(alien_0)

alien_0['color']='yellow'
print(alien_0)

alien_0['x_position']=0
alien_0['y_position']=25
print(alien_0)


del alien_0['color']
print(alien_0)

alien_0[10]=20 # 10 will be convert to a str???
print(alien_0)
#alien_0['10']#wrong
alien_0[10]

alien_0 = {'color':'green','points':'5'}
alien_1 = {'color':'yellow','points':'10'}
alien_2 = {'color':'red','points':'15'}
aliens = [alien_0,alien_1,alien_2]
for alien in aliens:
    print(alien,end='\t')

    
aliens=[]
for alien in range(30):
    alien={'color':'green','points':5,'speed':'slow'}
    aliens.append(alien)
for alien in aliens[:5]:
    print(alien)

In [ ]:
languages={'jen':'c',
          'jerry':'python',
          'sam':'java'
         }

In [ ]:
   x=5
    x#wrong indent

In [ ]:
for name,language in languages.items():
    print(name.title()+"'s favorite is "+language.title()+".")

In [ ]:
for name in sorted(languages.keys()):
    print(name.title())
    print(languages[name].title())

In [ ]:
language2 = {
    'Jerry':['python','c++'],
    'Jane':['c'],
    'Grace':['matlab','cobol','java']
}

# 2/5 
    print(args,sep='',end='\n',file= )   by default stay at the next line
    print(x,y,sep='\t',end= )
    15  20 stay here
    
    def f(args):
        print('Hello')

In [ ]:
def name(): print('hello')

In [ ]:
x=10;y=5

import sys
sys,input

for line sys.input:

In [ ]:
users={
    'JERRY':{
        'first':'ANYU',
        'last':'KUO',
        'location':'Taiwan'
    },
    'SAM':{
        'first':'ANSHENG',
        'last':'KUO',
        'location':'Taipei'
        
    }
}

In [ ]:
for username,user_info in users.items():
    print("username:"+username)
    print("first Name: "+user_info['first'])
    print("last Name:"+user_info['last'])
    print("location:"+user_info['location'])

# 2/7

In [10]:
x=5
y='xyz'
z=[1,2,3]
print(x,y,z)
# %:conversion 
print('%s,%s,%s'%(x,y,z))
'''
%s:string
%d:integer
%f:floating number
%c:character
%e:scientific number
%g: python will make a decision for the type

'''

5 xyz [1, 2, 3]
5,xyz,[1, 2, 3]

In [10]:
print('%010.2f |%+05d'%(3.14121,-42))

0000003.14 |-0042

In [17]:
print('-'*10)

----------

In [26]:
s='Jerry'
L=list(s)
L

'Jerry'

# 2/12

In [20]:
L=[]
Lf=[]

x=1
while x<=100:
    L.append(x)
    x+=1
for x in range(1,101):
    Lf.append(x)
Ld=[x*x for x in range(1,101)]

In [22]:
L2=[x for x in range(1,101) if x%3==0]
L2

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [27]:
s='Spam'
s.find('pa')
t=s.replace('pa','xyz')
line='aaa,bbb,ccc,ddd'
line.split(',')
line.isalpha()

False

stdlin,stdlout,stdlerr
     in   out    error
data.txt

f=open('data.txt','w')
w:writing
r:reading
a:appending
f.write()

In [58]:
f=open('data.txt','w')
f.write('Hello world\n')
f.write('Jerry\n')
f.close()

In [59]:
f=open('data.txt','r')
x=f.read()
x

'Hello world\nJerry\n'

In [68]:
for line in open('data.txt'):
    print(line,end='')

Hello world
Jerry

In [70]:
f.close()
f=open('data.txt','w')
s='abc'
f.write(s)

3

print() will have new line in the end by default
write() will not have new line in the end

print('abc',25,'ln') works
write('abc',25,'ln') does not works since only take 1 argument for write() and string only

In [71]:
T=(1,2,3,4) #tuple
T+(5,6)

(1, 2, 3, 4, 5, 6)

In [72]:
T[0]

1

In [73]:
T.index(4)# looking for the value 4 and return the index

3

In [81]:
T.count(4) #count how many 4 in the tuple

1

In [82]:
T[0]=2#not working for tuple but list

TypeError: 'tuple' object does not support item assignment

In [83]:
T=T(2,)+T[1:] #(2,2,3,4)

TypeError: 'tuple' object is not callable

In [86]:
T='spam',3.0,[11,22,33]
T

('spam', 3.0, [11, 22, 33])

In [87]:
T[2]

[11, 22, 33]

In [92]:
x={'s','p','a','m','x','a'}#set
x#auto sorted
x=set('spamxa')
y={'h','a','m'}
x,y#creating a tuple

({'a', 'm', 'p', 's', 'x'}, {'a', 'h', 'm'})

set: sorted
list:

# 2/14 SET

In [1]:
#SET no repeat element
x={'a','m','p','s'}
y={'m','h','p','s'}
x,y

({'a', 'm', 'p', 's'}, {'h', 'm', 'p', 's'})

In [2]:
x&y#intersection

{'m', 'p', 's'}

In [3]:
x|y#union

{'a', 'h', 'm', 'p', 's'}

In [4]:
x<y #x is subset of y?

False

In [5]:
x>y#y is subset of x?

False

In [6]:
A={2,3}
B={3,7,2}
A<B

True

In [7]:
A>=B

False

In [8]:
x-y

{'a'}

In [13]:
T=(n**2 for n in [1,2,3,4])
T

In [14]:
next(T)#for tuple

1

In [15]:
next(T)

4

In [23]:
list(set([2,1,1,3,1]))

[1, 2, 3]

In [22]:
sorted(set([1,2,1,3,1]))

[1, 2, 3]

In [24]:
set('spam')-set('ham')

{'p', 's'}

In [25]:
set('spam')==set('asmp')#both sets have same element

True

In [27]:
'p' in set('spam'), 'p'in 'spam', 'ham' in ['egg','spam','ham']

(True, True, True)

In [35]:
s={1,23}
s.add(3)
s

{1, 3, 23}

In [37]:
s.add((1,2,3))
s

{(1, 2, 3), 1, 23, 3}